* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(15, 23, 42); /* Set background color */
  color: white;
  font-family: Arial, sans-serif;
  height: 100vh;
  overflow: hidden;
}

/* Global selection styles */
::selection {
  background-color: rgba(
    94,
    234,
    212,
    1
  ); /* Custom background color for selected text */
  color: rgb(19, 78, 74); /* Custom text color for selected text */
}
